<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<% @posts.each do |post| %>
  <div class="post_wrapper">
    <h2 class="title"><%= link_to post.title, post %></h2>
    <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
  </div>
<% end %>

<%= link_to 'New Post', new_post_path %>
