<div id="page_wrapper">
	<p id="notice"><%= notice %></p>

	<h1>Welcome to my Blog</h1>

	<% @posts.each do |post| %>
	  <div class="post_wrapper">
	    <h2 class="title"><%= link_to post.title, post %></h2>
	    <h4 class="date"><%= post.created_at.strftime("%B %d, %Y") %></h4>
	    <p><%= truncate post.body %></p>
	  </div>
	<% end %>
</div>
